html, body {
  background-color: #e9ebee;
  width: 100%; 
  position: relative;
}

.row {
  margin-top: 15px;
}

#search_group_index {
    margin-top: 180;
}

#search-product-index {
  background: none;
  border: 1px solid darkorange;
  color: cornsilk;
  &:hover, &:focus {
    border: 1px solid cornsilk;
    box-shadow: 0 0 10px 1px rgba(205,205,205,0.3);
  }
}
.prod-image {
    height: 170px;
}

main.main-container {
  margin-top: 45px;
}
.row-fix-bottom {
 margin-bottom: 55px; 
}
.profile-bottom {
  margin-bottom: 7px;
}

.back-img {
  background: url('../img/mobile.jpg') no-repeat center center;
  background-size: cover;
  padding-bottom: 8%;
  padding-top: 85px;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}

.dropdown-menu-index {
  min-width: 100%;
}
.dropdown-item-insert {
  padding-left: 20px;
}
.dropdown-menu>li.dropdown-item-insert>a {
    padding-left: 0;
    color: blue;
    display : inline;
    &:hover{
      background: none;
    }
}
.modals-background {
  background: #f1f1f1;
}
.modal-header {
  text-align: center;
}
.modal-footer {
  text-align: center;
}
.myModals-size {
    margin-left: 0;
    left: 58%;
    margin-right: 0;
    width: 54%;
    top: 20px;
}
.marg {
  margin-top: 25px;
}
.marg-10 {
  margin-top: 10px;
}
.myModal-content {
    width: 325px;
}
.span-width {
  width: 10%;
}

.capitals {
  text-transform: capitalize;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
p {
  font-family: sans-serif;
}

.search-alert {
  visibility: hidden;
  padding: 0;
  margin: 0;
  line-height: 0;
  text-align: initial;
  font-weight: bold;
  color: darkred;
}
#service-alert {
  visibility: hidden;
  padding: 0;
  margin: 0;
  line-height: 0;
  text-align: initial;
  font-weight: bold;
  color: darkred;
}

.for-display {
  display: none;
}
.no-display {
  display: none;
}
dynamically.dynamically-div {
  display: none;
}
hr {
  border-top: 1px solid lightgray;
}
.names-check {
  display: none;
}
.styled {
  height: 35px;
  width: 100%;
}
.shadow {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}
.shadow-3 {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
}
.shadow-1 {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
}
.left-right-shadow{
      box-shadow: -5px 0 5px -4px rgba(0,0,0,0.3),5px 0 5px -3px rgba(0,0,0,0.3);
}

.display-star {
  color: #d47c34;
  //text-shadow: 0px 1px 3px darkgray;
  font-size: 27px;
}
.glyphicon-star-empty {
  color: darkgray;
}

.glyphicon-star-semi {
  &:before {
    content: "\e007";
    color: darkgray;
    position: relative;
  }
  &:after {
    content: "\e006";    
    display: block;
    position: absolute;
    top: 0;
    width: 49%;
    overflow: hidden;
  }
}
.box-size {
  height: 500px;
}

.box-background {
  background: transparent;
}

.prod-name {
  min-height: 35px;
  height: 35px;

  margin-bottom: 0;
}

.prod-price {
  color: darkred;
}

.cart-button {
  max-height: 20%;
}

.color-selector {
  width: 80px;
  height: 30px;
  border: 1px solid cornflowerblue;
}