input {
  border-radius: 0;
  box-shadow: 0;
  &.form-control {
    border-radius: 0;
    box-shadow: 0;
    &:focus {
      border-color: lightgrey;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $main-color;
    }
  }
}

.btn-info {
  background: $main-color;
  border: 0;
  border-radius: 0;
  &:hover, &:active, &:hover:active {
    background: $main-color-darker;
    border: 0;
    border-radius: 0;
  }
}

.btn {
  color: white;
  background: $main-color;
  border: 1px solid $main-color;
  border-radius: 0;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  &:hover, &:focus, &:visited, &:focus:active {
    border: 1px solid $main-color;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    outline: none;
  }
}

.butoons_row {
  text-align: center;
  margin-top: 20px;
}

.search-product {
  &:hover{
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  }
}
.search_buttons {
    height: 40px;
    margin-top: 5px;
    background: $main-orange;
    color: white;
    border: 1px solid #a7510b;
    &:hover {
      box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    }
}
.search_button {
  height: auto;
  width: auto;
  background: $main-orange;
  color: white;
  border: 1px solid #a7510b;
  &:hover {
    background: $main-orange;
  }
}

#search_button_index {
  background: none;
  border: none;
  border-radius: 10px;
  color: #b76b27;
  &:hover, &:focus, &:visited, &:focus:active {
    border: none;
    box-shadow: none;
  }
}
#search_button_nav {
  background: none;
  border: none;
  border-radius: 10px;
  color: white;
  &:hover, &:focus, &:visited, &:focus:active {
    border: none;
    box-shadow: none;
  }
}
.search-inside-button {
  float: left;
  margin-left: -8%;
  z-index: 5;
}
.search-label {
  height: 40px;
  margin-top: 5px;
}
.search-input {
  border: 1px solid $main-orange;
}
.r-inline {
  display: inline-flex;
  padding: 2px;
  margin: auto;
}

.profile-buttons {
  margin-left: 200px;
}

.modal-hide-on-exist, .modal-hide-on-exist-message, .modal-add-new-store, #select_store_message {
  display: none;
}

.add-cart-button, .btn-info, .btn-success {
  &:hover {
     box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
     background: $main-color;
  }
  &:focus, &:active, &:visited {
    background: $main-color;
  }
}

.add-cart-button {
  width: 55%;
}