.footer-header {
    margin: 145px 0 0;
    padding: 25px 0; 
    background: #d8d8d8;
    border-bottom: 1px solid gray;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
}
.content-lsu {
  padding: 10px;
  padding-left: 28px;
}

#footer-head {
  color: grey;
  font-size: xx-large;
}
.footer-headers {
  color: grey;
  font-size: larger;
}

.content-footer {
    padding: 3px;
    margin-left: 50px;
}
.footer-row {
  margin: 0;
  padding-left: inherit;
}

.b {
  width: inherit;
  border-bottom: 1px solid gainsboro;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 35px;
}
.h6 {
  color: gray;
  font-size: larger;
}

.copyright {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
}
.copy {
   margin-top: 30px;
  margin-bottom: 30px;
}
.top {
  margin-top: 45px;
}
.mblack {
  color: black;
}