.nav-bar {
    background: #0e2426;
    top: 0;
    width: 100%;
    height: 85px;
    position: fixed;
    z-index: 7;
    min-width: 1024px;
    left: 0;
}

.searchWrap {
    float: left;
    margin-right: .76336%;
    left: 0;
    padding-top: 15px;
}
.logoWrap {
    float: left;
    margin-right: .76336%;
    padding-top: 15px;
    padding-left: 10%;
}
.accountWrap {
    float: right;
    right: 0;
    margin-right: 0;
    padding-top: 15px;
}
#logo-image {
  padding-top: 5px;
  float: left;
}
#logo-ttl {
  float: left;
}
#nav-cart-img {
  max-height: 40px;
}

#anthrwpaki {
  float: right;
  max-height: 40px; 
}
#wrap-logout {
  display: none;
} 
#wrap-cart {
  float: right;  
  &:hover {
    color: white;
  }
}