.my-nav-bar {
    height: 75px;
    background: #0e2426;
}
#nav-container {
  position: relative;
}
.searchWrap {
    float: left;
    width: 30%;
    max-width: 400px;
}
.logoWrap {
    position: absolute;
    left: calc(50% - 75px);
    top: 0;;
}
.accountWrap {
    float: right;
    right: 0;
    margin-right: 0;
    padding-top: 15px;
}
#logo-image {
  padding-top: 5px;
    position: absolute;
    left: 0;
    top: 5px;
}
#logo-ttl {
  float: left;
  margin-left: 50px;
}
#nav-cart-img {
  max-height: 40px;
}

#anthrwpaki {
  float: right;
  max-height: 40px; 
}
#wrap-logout {
  display: none;
} 
#wrap-cart {
  float: right;  
  &:hover {
    color: white;
  }
}